.newsletter{
  display: flex;
  flex-direction: row;
  align-items: center;
background-color: rgba(56, 73, 83, 0.429);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding: 60px;
}

input{
  margin-left: 30%;
  height: 50px;
  width: 30%;
  border-style: none;
  padding: 20px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
input:focus {
  outline: none;
}
placeholder{
  color: black;
  margin-left: 30px;
}

.btn-news{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  height: 50px!important;
}

.newsletter p {
 
  font-size: 20px;
}
span{
  color: rgb(255, 183, 67);
  font-size: 24px;
  font-weight: 600;
}